// override base bootstrap sass here 
// see \node_modules\bootstrap-sass\assets\stylesheets\bootstrap\_variables.scss
// for available variables


// base colours
$brand-success: #ebebeb;

$font-family-sans-serif: Arial;


$border-radius-base: 3px;
$border-radius-large: 0px;
$border-radius-small: 0px;